In [1]:
import pandas as pd # importa a biblioteca pandas
import matplotlib.pyplot as plt # importa a biblioteca matplotlib,

In [2]:
# importando a base de dados
df = pd.read_csv('base de dados/monitoramento_tempo.csv') # realiza a leitura de um arquivo csv

In [3]:
df.head() #exibe as 4 primeiras linhas do dataframe

,temperatura,pressão,humidade,direção do vento,velocidade do vento,dia_da_semana,data
0,282.080000,1024.0,81.0,0.0,0.0,Domingo,2012-10-01 12:00:00
1,282.080000,1024.0,81.0,0.0,0.0,Domingo,2012-10-01 13:00:00
2,282.083252,1024.0,80.0,4.0,0.0,Domingo,2012-10-01 14:00:00
3,282.091866,1024.0,80.0,18.0,0.0,Domingo,2012-10-01 15:00:00
4,282.100481,1024.0,80.0,31.0,0.0,Domingo,2012-10-01 16:00:00

In [7]:
df.tail(15) #exibe as quatro ultimas linhas do dataframe

,temperatura,pressão,humidade,direção do vento,velocidade do vento,dia_da_semana,data
45238,277.78,1028.0,87.0,120.0,1.0,Terça,2017-11-29 10:00:00
45239,278.40,1029.0,87.0,180.0,2.0,Terça,2017-11-29 11:00:00
45240,278.54,1029.0,87.0,200.0,2.0,Terça,2017-11-29 12:00:00
45241,278.66,1030.0,87.0,201.0,1.0,Terça,2017-11-29 13:00:00
45242,278.54,1030.0,87.0,182.0,1.0,Terça,2017-11-29 14:00:00
45243,278.40,1031.0,87.0,170.0,2.0,Terça,2017-11-29 15:00:00
45244,278.65,1031.0,87.0,140.0,3.0,Terça,2017-11-29 16:00:00
45245,279.27,1031.0,87.0,140.0,1.0,Terça,2017-11-29 17:00:00
45246,280.44,1032.0,87.0,120.0,3.0,Terça,2017-11-29 18:00:00
45247,281.52,1032.0,81.0,70.0,2.0,Terça,2017-11-29 19:00:00
45248,282.00,1031.0,81.0,50.0,2.0,Terça,2017-11-29 20:00:00
45249,282.89,1030.0,71.0,330.0,1.0,Terça,2017-11-29 21:00:00
45250,283.39,1030.0,71.0,290.0,1.0,Terça,2017-11-29 22:00:00
45251,283.02,1029.0,71.0,290.0,2.0,Terça,2017-11-29 23:00:00
45252,282.28,1029.0,76.0,340.0,1.0,Quarta,2017-11-30 00:00:00

In [6]:
df.info() # exibe as informações do dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45253 entries, 0 to 45252
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   temperatura          45253 non-null  float64
 1   pressão              45253 non-null  float64
 2   humidade             45253 non-null  float64
 3   direção do vento     45253 non-null  float64
 4   velocidade do vento  45253 non-null  float64
 5   dia_da_semana        45253 non-null  object
 6   data                 45253 non-null  object
dtypes: float64(5), object(2)
memory usage: 2.4+ MB

In [8]:
df.describe()

,temperatura,pressão,humidade,direção do vento,velocidade do vento
count,45253.000000,45253.000000,45253.000000,45253.000000,45253.000000
mean,284.992865,1019.268292,74.671602,189.895874,2.050693
std,7.452368,9.942751,19.057901,102.876497,1.840820
min,262.370000,968.000000,10.000000,0.000000,0.000000
25%,279.850000,1014.000000,63.000000,107.000000,1.000000
50%,284.320000,1019.000000,80.000000,198.000000,1.000000
75%,289.450000,1025.000000,90.000000,289.000000,3.000000
max,312.520000,1056.000000,100.000000,360.000000,17.000000