In [1]:
import pandas as pd # importa a biblioteca pandas
import matplotlib.pyplot as plt # importa a biblioteca matplotlib,

In [2]:
# importando a base de dados
df = pd.read_csv('base de dados/monitoramento_tempo.csv') # realiza a leitura de um arquivo csv

In [3]:
df.head() #exibe as 4 primeiras linhas do dataframe

,temperatura,pressão,humidade,direção do vento,velocidade do vento,dia_da_semana,data
0,282.080000,1024.0,81.0,0.0,0.0,Domingo,2012-10-01 12:00:00
1,282.080000,1024.0,81.0,0.0,0.0,Domingo,2012-10-01 13:00:00
2,282.083252,1024.0,80.0,4.0,0.0,Domingo,2012-10-01 14:00:00
3,282.091866,1024.0,80.0,18.0,0.0,Domingo,2012-10-01 15:00:00
4,282.100481,1024.0,80.0,31.0,0.0,Domingo,2012-10-01 16:00:00