In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#cria o dicionario com o estoque de cada loja
dic_1 = {
    'Lojas':['A','B','C','D'],
    'Estoque':[500,100,300,600],
    'Chave':['AA','BB','CC','DD']
}
df_estoque = pd.DataFrame(dic_1)

In [4]:
df_estoque.head()

  Lojas  Estoque Chave
0     A      500    AA
1     B      100    BB
2     C      300    CC
3     D      600    DD

In [ ]:
dic_vendas={
    'Lojas':['A','B','C','D'],   
    'Jan':[100,80,150,50],
    'Fev':[120,90,170,60],
    'Mar':[150,100,200,80],
    'Abril':[180,110,230,90],
    'Mai':[220,190,350,200],
    'Jun':[230,150,2980,120],
    'Jul':[150,170,300,140],
    'Ago':[260,180,310,150],
    'Set':[240,160,290,130],
    'Out':[220,140,270,110],
    'Nov':[400,200,350,190],
    'Dez':[300,350,400,250],
    'Chave':['AA','BB','CC','DD']

}
df_vendas = pd.DataFrame(dic_vendas)