In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#cria o dicionario com o estoque de cada loja
dic_1 = {
    'Lojas':['A','B','C','D'],
    'Estoque':[500,100,300,600],
    'Chave':['AA','BB','CC','DD']
}
df_estoque = pd.DataFrame(dic_1)

In [4]:
df_estoque.head()

  Lojas  Estoque Chave
0     A      500    AA
1     B      100    BB
2     C      300    CC
3     D      600    DD