In [1]:
import pandas as pd # importa a biblioteca pandas

In [3]:
Dicionario_01 ={
    'A':[1,2,3],
    'B':[-32,-21,-15],
    'C':[60,10,20],
    'Chave':['AA','BB','CC']
    }
Dicionario_02 ={
    'A':[6,7,8],
    'B':[-39,-28,-17],
    'C':[1000,10,60],
    'Chave':['AA','BB','CC']
    }
Dicionario_03 ={
    'A':[9,10,11],
    'B':[-39,-22,-17],
    'C':[30,10,20],
    'Chave':['AA','BB','CC']
    }
# Cria os labels para os dataframes
Label_01 = ['1ªLinha','2ªLinha','3ªLinha']
Label_02 = ['4ªLinha','5ªLinha','6ªLinha']
Label_03 = ['7ªLinha','8ªLinha','9ªLinha']

In [7]:
# Criando os dataframes
df1 = pd.DataFrame(Dicionario_01,index=Label_01)
df2 = pd.DataFrame(Dicionario_02,index=Label_02)
df3 = pd.DataFrame(Dicionario_03,index= Label_03)

In [9]:
df1.head() # exibe as 4 primeiras linhas do dataframe

         A   B   C Chave
1ªLinha  1 -32  60    AA
2ªLinha  2 -21  10    BB
3ªLinha  3 -15  20    CC

In [10]:
df2.head() # exibe o segundo dataframe

         A   B     C Chave
4ªLinha  6 -39  1000    AA
5ªLinha  7 -28    10    BB
6ªLinha  8 -17    60    CC

In [11]:
df3.head() # exibe o terceiro dataframe

          A   B   C Chave
7ªLinha   9 -39  30    AA
8ªLinha  10 -22  10    BB
9ªLinha  11 -17  20    CC

In [12]:
# Juntando os dataframes utilizando o comando concat
# Esse comando irá empilhar os dataframes
df_n = pd.concat([df1,df2,df3]) # comando para juntar os dataframes

In [13]:
df_n.head()

         A   B     C Chave
1ªLinha  1 -32    60    AA
2ªLinha  2 -21    10    BB
3ªLinha  3 -15    20    CC
4ªLinha  6 -39  1000    AA
5ªLinha  7 -28    10    BB

In [14]:
# une os dataframes com o comando merge
# inner verifica se a chave está presente em ambos os lados do
# df
df_n2 = pd.merge(df1,df2,how='inner',on='Chave')

In [15]:
df_n2.head()

   A_x  B_x  C_x Chave  A_y  B_y   C_y
0    1  -32   60    AA    6  -39  1000
1    2  -21   10    BB    7  -28    10
2    3  -15   20    CC    8  -17    60

In [16]:
df_n3 = pd.merge(df1,df3, how='right',on='Chave')
# merge verificando a semelhança com a chave presente
# ao lado direito do dataframe

In [17]:
df_n3.head()

   A_x  B_x  C_x Chave  A_y  B_y  C_y
0    1  -32   60    AA    9  -39   30
1    2  -21   10    BB   10  -22   10
2    3  -15   20    CC   11  -17   20

In [20]:
Dic_01 = {
    'A':[1,2,3],
    'B':[-32,-21,-15],
    'C':[60,10,20]
    }
Dic_02 ={
    'D':[6,7,8],
    'E':[-39,-38,-17],
    'F':[1000,10,60]
}
Label_01=['1ªLinha','2ªLinha','3ªLinha'] # cria o label
dataframe01 = pd.DataFrame(Dic_01,index=Label_01)
dataframe02 = pd.DataFrame(Dic_02,index=Label_01)

In [21]:
dataframe01.head()

         A   B   C
1ªLinha  1 -32  60
2ªLinha  2 -21  10
3ªLinha  3 -15  20

In [22]:
dataframe02.head()

         D   E     F
1ªLinha  6 -39  1000
2ªLinha  7 -38    10
3ªLinha  8 -17    60

In [23]:
dataframe01.join(dataframe02) # junta os dois dataframes com
# o comando join

         A   B   C  D   E     F
1ªLinha  1 -32  60  6 -39  1000
2ªLinha  2 -21  10  7 -38    10
3ªLinha  3 -15  20  8 -17    60